<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>FGO サーヴァント経験値シミュレータ</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
		<link rel="stylesheet" href="ses.css">
	</head>
	<body>
		<!-- タイトル -->
		<div class="box is-radiusless has-background-primary">
			<h1 class="title has-text-white">Fate/Grand Order サーヴァント経験値シミュレータ</h1>
			<h2 class="subtitle has-text-primary-light">ver1.1.0</h2>
		</div>
		<!-- コンテンツ -->
		<div class="mx-5 mb-5">
			<!-- パラメータ -->
			<div id="params">
				<section-item label="パラメータ">
					<template v-slot:header-contents>
						<div class="buttons">
							<button class="button is-light" name="reset" v-on:click="initialize();">リセット</button>
						</div>
					</template>
					<template v-slot:contents>
						<div class="field is-grouped is-grouped-multiline">
							<form-item label="レアリティ">
								<template v-slot:item>
									<div class="select">
										<select name="rarity" v-bind:value="rarity" v-on:change="changeParam($event);">
											<option v-for="(val, key, idx) in rarityList" v-bind:value="key" v-bind:key="key">{{ val.name }}</option>
										</select>
									</div>
								</template>
							</form-item>
							<form-item label="現在Lv">
								<template v-slot:item>
									<div class="select">
										<select name="lvFrom" v-bind:value="lvFrom" v-on:change="changeParam($event);">
											<option v-for="i in lvMax" v-bind:value="i" v-bind:key="i">{{ i }}</option>
										</select>
									</div>
								</template>
							</form-item>
							<form-item label="Next">
								<template v-slot:item>
									<input class="input" type="number" name="expNext" min=0 v-bind:max="expMax" step=100 pattern="[0-9]+" v-bind:value="expNext" v-on:change="changeParam($event);">
								</template>
							</form-item>
							<form-item label="種火一致">
								<template v-slot:item>
									<div class="select">
										<select name="matchClass" v-bind:value="matchClass" v-on:change="changeParam($event);">
											<option v-for="val in matchClassList" v-bind:value="val.value" v-bind:key="val.value">{{ val.name }}</option>
										</select>
									</div>
								</template>
							</form-item>
							<form-item label="経験値倍率">
								<template v-slot:item>
									<div class="select">
										<select name="expFactor" v-bind:value="expFactor" v-on:change="changeParam($event);">
											<option v-for="val in expFactorList" v-bind:value="val.value" v-bind:key="val.value">{{ val.name }}</option>
										</select>
									</div>
								</template>
							</form-item>
							<form-item label="端数">
								<template v-slot:item>
									<div class="select">
										<select name="fraction" v-bind:value="fraction" v-on:change="changeParam($event);">
											<option v-for="val in fractionList" v-bind:value="val.value">{{ val.name }}</option>
										</select>
									</div>
								</template>
							</form-item>
						</div>
					</template>
				</section-item>
			</div>
			<!-- 必要種火数(目標Lvまで) -->
			<div id="reqSeedFire">
				<section-item label="必要種火数">
					<template v-slot:header-contents>
						<h2 class="subtitle my-2 has-text-weight-bold has-text-white">目標Lv:{{ nextLvLimit }}</h2>
					</template>
					<template v-slot:contents>
						<table class="table is-bordered is-striped">
							<thead>
							<tr class="has-background-primary-light">
								<th v-for="hl in headerLabel"><div v-for="h in hl">{{ h }}</div></th>
							</tr>
							</thead>
							<tbody>
							<tr v-for="(rd, idx) in rowData">
								<td>{{ rd.name }}</td>
								<td>
									<input class="input" type="number" min=1 max=99 step=1 v-model="rd.useSeedFire" v-bind:readonly="rd.readOnly">
								</td>
								<td>
									<div class="buttons">
										<button class="button is-primary" v-on:click="reSimulate(idx, 1)">成功</button>
										<button class="button is-primary" v-on:click="reSimulate(idx, 2)" v-if="[0, 2, 3].includes(rd.result)">大成功</button>
										<button class="button is-primary" v-on:click="reSimulate(idx, 3)" v-if="[0, 3].includes(rd.result)">極大成功</button>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</template>
				</section-item>
			</div>
			<!-- 必要種火数(目標Lv以降) -->
			<div id="reqSeedFireAfter">
				<section-item label="必要種火数">
					<template v-slot:header-contents>
						<h2 class="subtitle my-2 has-text-weight-bold has-text-white">目標Lv以降</h2>
					</template>
					<template v-slot:contents>
						<table class="table is-bordered is-striped">
							<thead>
							<tr class="has-background-primary-light">
								<th v-for="hl in headerLabel"><div v-for="h in hl">{{ h }}</div></th>
							</tr>
							</thead>
							<tbody>
							<tr v-for="(rd, idx) in rowData">
								<td>{{ rd.lvFrom }} → {{ rd.lvTo }}</td>
								<td class="has-text-right">{{ rd.useSeedFire }}</td>
								<td class="has-text-right">{{ rd.useSeedFireAmount }}</td>
							</tr>
							</tbody>
						</table>
					</template>
				</section-item>
			</div>
			<!-- 取扱説明書 -->
			<div id="howTo">
				<section-item label="取扱説明書">
					<template v-slot:contents>
						<article class="message is-primary" v-for="item in items">
							<div class="message-header">
								<p>{{ item.title }}</p>
							</div>
							<div class="message-body">
								<div v-for="text in item.textList" v-html="text"></div>
							</div>
						</article>
					</template>
				</section-item>
			</div>
			<!-- 更新履歴 -->
			<div id="updateLog">
				<section-item label="更新履歴">
					<template v-slot:contents>
						<article class="message is-primary" v-for="item in items">
							<div class="message-header">
								<p>{{ item.date }}</p>
							</div>
							<div class="message-body">
								<div v-for="text in item.textList" v-html="text"></div>
							</div>
						</article>
					</template>
				</section-item>
			</div>
	</body>
	<!-- セクションテンプレート -->
	<script type="text/x-template" id="sectionItem">
		<div class="card">
			<div class="card-header has-background-primary px-2 py-2">
				<h2 class="subtitle mx-4 my-2 has-text-weight-bold has-text-white">{{ label }}</h2>
				<slot name="header-contents" />
			</div>
			<div class="card-content">
				<slot name="contents" />
			</div>
		</div>
	</script>
	<!-- フォーム要素テンプレート -->
	<script type="text/x-template" id="formItem">
		<div class="control">
			<div class="field has-addons">
				<div class="control">
					<button class="button is-static">{{ label }}</button>
				</div>
				<div class="control">
					<slot name="item" />
				</div>
			</div>
		</div>
	</script>
	<!-- 外部読込スクリプト -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js" integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw==" crossorigin="anonymous"></script>
	<script type="text/javascript" src="ses.js"></script>
	<script type="application/json" id="lvLimit"></script>
	<script type="application/json" id="expList"></script>
</html>
