.table th, .table td {
    vertical-align: middle;
}

div.table-scroll {
	overflow-x: auto;
}

#reqSeedFire tr *,
#reqSeedFireAfter *
 {
	white-space: nowrap;
}

button:not(.is-static) {
	width: 112px;
	min-width: 112px;
	max-width: 112px;
}
